<div ng-show="!$ctrl.closed" class="alert-dismissable {{$ctrl.alertMessage.cssClass}} alert" >
    <span class="alert-icon">
        <i class="{{$ctrl.alertMessage.icon}}"></i>
        <span class="sr-only"> {{$ctrl.alertMessage.messageText}}</span>
    </span>
    <div class="alert-label">
        {{ $ctrl.alertMessage.messageText }}
    </div>
    <span class="alert-close">
        <i ng-click="$ctrl.close()" class="close icon-modal-close"></i>
        <span class="sr-only">{$ general.close $}</span>
    </span>
</div>