<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- After changing the included or excluded object types, you need to run serialization for all objects to bring 
       the CIRepository folder into the required state. Open the 'Continuous integration' application in the Kentico administration interface
       and click 'Serialize all objects'. Always synchronize the repository.config settings along with the other content of the CIRepository folder. -->

  <!-- The following main object types can be used in the IncludedObjectTypes and ExcludedObjectTypes definition:
         analytics.campaign, analytics.conversion, badwords.word, cms.acl, cms.attachmentvariant,
         cms.avatar, cms.badge, cms.bannedip, cms.category, cms.class,
         cms.consent, cms.country, cms.culture, cms.deviceprofile, cms.document,
         cms.documenttype, cms.documenttypescope, cms.emailtemplate, cms.form, cms.formclass,
         cms.formusercontrol, cms.macroidentity, cms.macrorule, cms.membership, cms.metafile,
         cms.pagetemplateconfiguration, cms.relationshipname, cms.resource, cms.resourcestring, cms.role,
         cms.scheduledtask, cms.searchengine, cms.searchindex, cms.settingscategory, cms.settingskey,
         cms.site, cms.smtpserver, cms.systemtable, cms.taggroup, cms.timezone,
         cms.user, cms.webtemplate, cms.workflow, cms.workflowaction, integration.connector,
         ma.automationaction, ma.automationprocess, ma.automationtemplate, media.library, om.accountstatus,
         om.activitytype, om.contactgroup, om.contactrole, om.contactstatus -->

  <!-- If one or more main object types are specified, continuous integration only processes objects of the given type and their child types. 
       All supported object types are included if empty. -->
  <IncludedObjectTypes>
    <!-- <ObjectType>ObjectTypeA</ObjectType> -->
    <!-- <ObjectType>ObjectTypeB</ObjectType> -->
  </IncludedObjectTypes>

  <!-- Continuous integration processes all included object types except for the listed types. -->
  <ExcludedObjectTypes>
    <!-- Settings may contain sensitive data and are excluded from continuous integration by default.
         Only remove the exclusion if you agree to make all setting values available within the file system used by the application
         and any connected source control systems. -->
    <ObjectType>cms.settingskey</ObjectType>
    <!-- <ObjectType>ObjectTypeX</ObjectType> -->
    <!-- <ObjectType>ObjectTypeY</ObjectType> -->
  </ExcludedObjectTypes>

  <!-- You can exclude objects from processing by specifying excluded code names for any object type. 
       Use the % wildcard at the start or end of the values to exclude multiple objects based on code name prefixes or suffixes.
       You can add multiple code name values separated by semicolons for each object type. -->
  <ObjectFilters>
    <!-- <ExcludedCodeNames ObjectType="ObjectTypeA">ExcludedCodeNameA;ExcludedCodeNameB</ExcludedCodeNames> -->
    <!-- <ExcludedCodeNames ObjectType="ObjectTypeB">ExcludedCodeNamePrefix%;%ExcludedCodeNameSuffix</ExcludedCodeNames> -->
  </ObjectFilters>

</RepositoryConfiguration>