@using Identity.Models.Profile
@model PageViewModel<IUserViewModel>
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    var templateName = Model.Data.GetType()?.Name;
}

<form method="post" enctype="multipart/form-data">
    <main class="row mc-page-fixed">
        <div class="container mc-section-4">
            <h1>@Html.DisplayFor(m => m.Metadata.Title)</h1>
            @Html.ValidationSummary()
            @Html.EditorFor(m => m.Data, templateName)
            <button class="btn waves-effect waves-light" type="submit">@StringLocalizer["General.Save"]</button>
        </div>
    </main>
</form>
