<cms-create-page-dialog
        ng-model="$ctrl.newPageAsset"
        change="$ctrl.dataChange()"
        click="$ctrl.dataClick()"
        id="campaignAssetNewLandingPage"
        button-id="campaignAssetCreatePageButton"
        dialog-name="newpage"
        dialog-url="{{$ctrl.dialogUrl}}"
        dialog-width="90%"
        dialog-height="90%"
        text="{$ campaign.assets.content.create $}"
        title="{$ campaign.assets.content.create.description $}"
        data-disabled="!$ctrl.enabled">
</cms-create-page-dialog>