@model MedioClinic.Models.ViewComponents.Navigation.TopNavigationContentsModel

<ul id="@Model.CultureSwitchId" class="dropdown-content">
    <li><a href="#">English</a></li>
    <li><a href="#">Spanish</a></li>
</ul>
<ul id="@Model.MainId" class="@Model.ListClass">
    <li><a asp-controller="Doctors" asp-action="Index">Doctors</a></li>
    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
    <li>
        <a class="dropdown-trigger" href="#!" data-target="@Model.CultureSwitchId">
            EN
            <i class="material-icons right">arrow_drop_down</i>
        </a>
    </li>
</ul>
