@model XperienceAdapter.NavigationItem

@{ 
    var childItems = Model?.ChildItems;
}

<h5 class="white-text">Navigation</h5>
<ul>
    @if (childItems != null && childItems.Any())
    {
        foreach (var item in childItems)
        {
            <partial name="_ListItemWithLink" model="@(item.RelativeUrl, item.Title, "white-text")" />
        }
    }
</ul>