<h5 class="white-text">Navigation</h5>
<ul>
    <li><a class="white-text" href="#!">Link 1</a></li>
    <li><a class="white-text" href="#!">Link 2</a></li>
    <li><a class="white-text" href="#!">Link 3</a></li>
    <li><a class="white-text" href="#!">Link 4</a></li>
</ul>