@model Business.Dtos.NavigationItemDto
@inject CMS.Core.ILocalizationService LocalizationService

@{
    var childItems = Model?.ChildItems;
}

<h5 class="white-text">@LocalizationService.GetString("ViewComponent.Navigation.Bottom.Navigation")</h5>
<ul>
    @if (childItems != null && childItems.Any())
    {
        foreach (var item in childItems)
        {
            <partial name="_ListItemWithLink" model="@(item.RelativeUrl, item.Name, "white-text")" />
        }
    }
</ul>