<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
  
  <location path="LiveSelectors">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
