@using MedioClinic.Components

@section Styles {
    <page-builder-styles />
}

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <partial name="~/Views/Shared/_UserMessage.cshtml" />

        @*Turn on caching below.*@
        <editable-area area-identifier="area01" 
                       area-options-default-section-identifier="@ComponentIdentifiers.SingleColumnSection" 
                       allow-widget-output-cache="false" 
                       widget-output-cache-expires-sliding="TimeSpan.FromMinutes(5)"
                       />
    </div>
</main>

@section Scripts {
    <page-builder-scripts />
}