@section Styles {
    <page-builder-styles />
}

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <partial name="~/Views/Shared/_UserMessage.cshtml" />
        <editable-area area-identifier="top" />
    </div>
</main>

@section Scripts {
    <page-builder-scripts />
}