@section Styles {
    @Html.Kentico().PageBuilderStyles()
}

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <partial name="~/Views/Shared/_UserMessage.cshtml" />
        @await Html.Kentico().EditableAreaAsync("top")
    </div>
</main>

@section Scripts {
    @Html.Kentico().PageBuilderScripts()
}