<div class="row">
    <ul class="field-list col-md-4">
        <li class="row">
            <span class="field-name col-xs-3 col-md-4">{$ om.contact.journey.length $}</span>
            <span class="col-xs-9 col-md-8 field-value" ng-if="$ctrl.journey" ><strong>{{::$ctrl.journey.JourneyLengthDaysText}}</strong> ({{::$ctrl.journey.JourneyLengthStartedDate}})</span>
        </li>
        <li class="row">
            <span class="field-name col-xs-3 col-md-4">{$ om.contact.journey.lastactivity $}</span>
            <span class="col-xs-9 col-md-8 field-value" ng-if="$ctrl.journey" ><strong>{{::$ctrl.journey.LastActivityDaysAgoText}}</strong> ({{::$ctrl.journey.LastActivityDate}})</span>
        </li>
    </ul>
</div>