@model PageViewModel<Business.Models.NamePerexText>

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <h2 id="services" class="hide-on-med-and-down">@Html.DisplayFor(m => m.Data.Name)</h2>
        <p><em>@Html.DisplayFor(m => m.Data.Perex)</em></p>
        <p>@Html.DisplayFor(m => m.Data.Text)</p>
    </div>
</main>
