<cms-card contact="$ctrl.contact" display-edit-button="$ctrl.displayEditButton"></cms-card>

<cms-category-heading ng-if="$ctrl.displayContactInformations" heading="{$ contactmanagement.contact.contactinfo $}">
    <div class="row">
        <div class="col-md-4 cms-details">
            <cms-detail class="component" contact-id="$ctrl.contact.ContactID" />
        </div>
        <div class="col-md-8">
            <cms-persona class="component" ng-if="$ctrl.personaModuleAvailable" contact-id="$ctrl.contact.ContactID"></cms-persona>
            <cms-scorings class="component" contact-id="$ctrl.contact.ContactID"></cms-scorings>
        </div>
    </div>
</cms-category-heading>

<cms-category-heading ng-if="$ctrl.activitiesExist" heading="{$ om.contact.journey.header $}">
    <cms-contact-journey class="component cms-journey" contact-id="$ctrl.contact.ContactID"></cms-contact-journey>
</cms-category-heading>

<cms-category-heading ng-if="$ctrl.newsletterModuleAvailable" heading="{$ contactmanagement.contact.newslettersubscriptions $}">
    <cms-newsletter-subscriptions class="component" contact-id="$ctrl.contact.ContactID"></cms-newsletter-subscriptions>
</cms-category-heading>

<cms-category-heading ng-if="$ctrl.displayGroupMemberships" heading="{$ contactmanagement.contact.contactgroupmemberships $}">
    <cms-contact-groups-membership class="component" contact-id="$ctrl.contact.ContactID"></cms-contact-groups-membership>
</cms-category-heading>

<cms-category-heading ng-if="$ctrl.formModuleAvailable" heading="{$ contactmanagement.contact.submittedforms $}">
    <cms-submitted-forms class="component" contact-id="$ctrl.contact.ContactID"></cms-submitted-forms>
</cms-category-heading>

<cms-category-heading ng-if="$ctrl.displayNotes" heading="{$ contactmanagement.contact.notes $}">
    <cms-contact-notes class="component" notes="$ctrl.contact.ContactNotes"></cms-contact-notes>
</cms-category-heading>

<cms-contact-link contact-url="$ctrl.contactUrl"></cms-contact-link>