<?xml version="1.0" encoding="utf-8"?>
<cms.widget>
  <WidgetCategoryID>
    <CodeName>Dashboard</CodeName>
    <GUID>d230ceb4-ca2f-4815-8ada-f344a2394ef8</GUID>
    <ObjectType>cms.widgetcategory</ObjectType>
  </WidgetCategoryID>
  <WidgetDescription>
    <![CDATA[Displays current information about the CMS. The data is refreshed regularly according to a specified interval. The widget may also be used to restart the application or clear its cache.]]>
  </WidgetDescription>
  <WidgetDisplayName>System</WidgetDisplayName>
  <WidgetGUID>25a0f860-e6e0-41cc-85f0-af63f8720c88</WidgetGUID>
  <WidgetIconClass>icon-w-system</WidgetIconClass>
  <WidgetIsEnabled>True</WidgetIsEnabled>
  <WidgetName>System</WidgetName>
  <WidgetProperties>
    <form version="2">
      <field column="RefreshInterval" guid="5749ccde-abd8-4deb-83f7-26258c5a8c75" />
    </form>
  </WidgetProperties>
  <WidgetSecurity>7</WidgetSecurity>
  <WidgetWebPartID>
    <CodeName>System</CodeName>
    <GUID>d90dad98-bda1-45a1-ab8e-824884e2ddb1</GUID>
    <ObjectType>cms.webpart</ObjectType>
  </WidgetWebPartID>
</cms.widget>