<div class="campaign-assetlist-item row">
    <div class="campaign-assetlist-header">
        <span class="campaign-assetlist-header-description">
            <span class="primary-description">
                {{$ctrl.conversion.activityName}}
            </span>
            <span ng-if="$ctrl.conversion.name && $ctrl.conversion.name.length > 0">
                <br />
                {{$ctrl.conversion.name}}
            </span>
        </span>
    </div>
    <div class="campaign-assetlist-icons">
        <div>
            <button title="{$ general.remove $}"
                    class="icon-only btn-icon btn"
                    ng-disabled="!$ctrl.removable"
                    ng-click="$ctrl.removeConversion()">
                <i aria-hidden="true" class="icon-bin"></i>
            </button>
        </div>
        <cms-edit-conversion is-funnel="$ctrl.isFunnel"
                             conversion="$ctrl.conversion"
                             enabled="$ctrl.editable"
                             on-updated="$ctrl.updateConversion">
        </cms-edit-conversion>
    </div>
</div>