@using XperienceAdapter.Models
@model NewsletterPreferenceModel

<div class="row input-field">
    <p>
        <label>
            @Html.CheckBoxFor(m => m.Subscribed)
            <span>@Html.DisplayFor(m => m.NewsletterDisplayName)</span>
        </label>
    </p>
    @Html.HiddenFor(m => m.NewsletterDisplayName)
    @Html.HiddenFor(m => m.NewsletterGuid)
</div>