<div ng-cloak="cloak">
    <h3 class="control-label">{$ campaign.reportsetup $}</h3>

    <!-- Conversions section -->
    <cms-campaign-conversions is-funnel="false"
                              conversions="$ctrl.conversions"
                              campaign="$ctrl.campaign">
    </cms-campaign-conversions>

    <!-- Campaign journey section -->
    <cms-campaign-conversions is-funnel="true"
                              conversions="$ctrl.conversions"
                              campaign="$ctrl.campaign">
    </cms-campaign-conversions>

    <!-- Campaign objective -->
    <cms-campaign-objective campaign="$ctrl.campaign" 
                            conversions="$ctrl.conversions">
    </cms-campaign-objective>
</div> 