@model MedioClinic.Components.InlineEditors.FileDownloadViewModel
@inject IStringLocalizer<SharedResource> StringLocalizer

@using (Html.Kentico().BeginInlineEditor("file-download-selector", Model.PropertyName,
    new
    {
        data_media_library_name = Model.MediaLibraryName,
        data_file_guid = Model.FileGuid
    }))
{
    <div class="mc-file-download-selector">
        <button>Select a file</button>
        <p class="mc-file-download-guid">@Html.Raw(StringLocalizer["MedioClinic.InlineEditor.FileDownloadSelector.FileGuid"]): @Html.DisplayFor(m => m.FileGuid)</p>
    </div>
}