@model MedioClinic.Components.InlineEditors.FileDownloadViewModel

@using (Html.Kentico().BeginInlineEditor("file-download-selector", Model.PropertyName,
    new
    {
        data_media_library_name = Model.MediaLibraryName,
        data_file_guid = Model.FileGuid
    }))
{
    <div class="mc-file-download-selector">
        <button>Select a file</button>
        <p class="mc-file-download-guid">@Html.EditorFor(m => m.FileGuid)</p>
    </div>
}