@using Microsoft.AspNetCore.Html
@using MedioClinic.Components.InlineEditors
@model ImageUploaderViewModel
@inject IStringLocalizer<SharedResource> StringLocalizer

@functions{
    /// <summary>
    /// Gets the container's CSS class.
    /// </summary>
    /// <returns>The CSS class.</returns>
    string GetContainerClass() =>
        Model.HasImage == true ? "mc-image-uploader-container" : "mc-image-uploader-empty-container";

    /// <summary>
    /// Gets the URL for the ImageUploaderController's action.
    /// </summary>
    /// <returns>The authenticated URL.</returns>
    string GetActionUrl() =>
        Url.Kentico().AuthenticateUrlRaw(Url.Action("Upload", "ImageUploader", new
        {
            pageId = Model?.PageId,
            mediaLibraryName = Model?.MediaLibraryViewModel?.LibraryName
        }));
}

@using (Html.Kentico().BeginInlineEditor("image-uploader", Model.PropertyName,
 new
 {
     @class = "mc-image-uploader-editor",
     data_upload_url = GetActionUrl().ToString(),
     data_allowed_image_extensions = string.Join(",", Model?.MediaLibraryViewModel?.AllowedFileExtensions!)
 }))
{
    <div class="@GetContainerClass()">
        <div class="dz-uploader">
            <div class="dz-message top">
                @*TODO: Implement IHtmlLocalizer*@
                @Html.Raw(StringLocalizer["MedioClinic.InlineEditor.ImageUploader.Dropzone.DropText"])
            </div>
        </div>
    </div>
}
