@using CMS.Base
@using CMS.OnlineMarketing
@using MedioClinic.Components.Widgets
@model ComponentViewModel<ButtonProperties>
@inject IStringLocalizer<SharedResource> StringLocalizer
@inject ISiteService SiteService

@functions {
    string GetAbTestConversionUrl()
    {
        var routeValues = new
        {
            conversionName = MedioClinic.Customizations.AbTests.ButtonColorConversion.ConversionName,
            parameter = Model.Properties.ButtonColor
        };

        var url = Url.Action(nameof(MedioClinic.Controllers.AbTestConversionController.LogConversion), "AbTestConversion", routeValues);

        return Url.Kentico().AuthenticateUrlRaw(url);
    }
}

@{
    var abTestsEnabled = ABTestInfoProvider.ABTestingEnabled(SiteService.CurrentSite.SiteName);

    var abTestConversionUrlLiteral = abTestsEnabled 
        ? $"window.medioClinic.logAbTestConversion('{GetAbTestConversionUrl()}')" 
        : string.Empty;

    var colorLiteral = !string.IsNullOrEmpty(Model.Properties.ButtonColor)
        ? Model.Properties.ButtonColor
        : string.Empty;
}

@if (!string.IsNullOrEmpty(Model.Properties.Url) && !string.IsNullOrEmpty(Model.Properties.LinkTextResourceKey))
{
    <a class="waves-effect waves-light btn-large @colorLiteral" href="@Html.Raw(Model.Properties.Url)" onclick="@Html.Raw(abTestConversionUrlLiteral)">
        @StringLocalizer[Model.Properties.LinkTextResourceKey]
    </a>
}