@model (string? LinkTextResourceKey, Guid? FileGuid, bool SecuredDownload)
@inject IStringLocalizer<SharedResource> StringLocalizer

@{ 
    var downloadControllerName = "Download";
}

@if (Model.FileGuid != null)
{
    if (!Model.SecuredDownload)
    {
        <a class="waves-effect waves-light btn-large" href="@Url.Action("Public", downloadControllerName, new { fileGuid = Model.FileGuid.Value })">
            <i class="material-icons left">file_download</i> @StringLocalizer[Model.LinkTextResourceKey]
        </a>
    }
}