@using MedioClinic.Components.InlineEditors
@using MedioClinic.Components.Widgets
@model ImageViewModel
@inject IStringLocalizer<SharedResource> StringLocalizer
@inject IPageBuilderDataContextRetriever ContextRetriever

@{
    var relativePath = Model?.MediaLibraryFile?.MediaFileUrl?.RelativePath;

    if (Model?.HasImage == true && !string.IsNullOrEmpty(relativePath))
    {
        <img src="@Url.Content(relativePath)" class="responsive-img" />
    }
    else
    {
        <div class="dz-message">@StringLocalizer["General.ImageDoesntExist"]</div>
    }

    if (ContextRetriever?.Retrieve()?.EditMode == true)
    {
        var model = new ImageUploaderViewModel
        {
            PropertyName = nameof(ImageProperties.ImageGuid),
            PageId = Model?.PageId,
            HasImage = Model?.HasImage == true,
            MediaLibraryViewModel = Model?.MediaLibraryViewModel
        };

        <partial name="~/Components/InlineEditors/_ImageUploader.cshtml" model="model" />
    }
}