@using MedioClinic.Components
@model string
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    var titleResourceKey = "OnlineMarketing.SubscribeTo";
    var bodyResourceKey = "OnlineMarketing.Subscribed";
}

<section class="card">
    <div class="card-content">
        <span class="card-title">@StringLocalizer.GetString(titleResourceKey, Model)</span>
        <p>@StringLocalizer[bodyResourceKey]</p>
    </div>
</section>