@using CMS.DocumentEngine
@using Business.Models
@using MedioClinic.Controllers 
@model ConsentViewModel
@inject IStringLocalizer<SharedResource> StringLocalizer
@inject IPageDataContextRetriever PageDataContextRetriever

@functions{
    string GetReturnUrl()
    {
        // Get URL for pages handled by content tree-based router, otherwise get path from the context
        return PageDataContextRetriever.TryRetrieve<TreeNode>(out var _) ?
            Url.Kentico().CurrentPageUrl() :
            (Context.Request.PathBase + Context.Request.Path).Value;
    }
}

@{
    var routeData = new Dictionary<string, string>
    {
        { "consentId", Model?.Id?.ToString()! },
        { "returnUrl", GetReturnUrl() }
    };

    var learnMore = string.Format(StringLocalizer["OnlineMarketing.LearnMoreInPrivacyPage"], Url.Action(nameof(PrivacyController.Index), "Privacy"));
}

<div class="mc-fixed-bar-bottom light-blue lighten-1">
    <div class="container">
        <form asp-action="@nameof(PrivacyController.SetCookieLevel)"
              asp-controller="Privacy"
              asp-antiforgery="true"
              asp-all-route-data="routeData">
            <p class="white-text">
                @Html.DisplayFor(m => m.ShortText) 
                @Html.Raw(learnMore)
                <button type="submit" name="submit" class="btn waves-effect waves-light">@StringLocalizer["OnlineMarketing.Agree"]</button>
            </p>
        </form>
    </div>
</div>
