@using MedioClinic.Components
@model ComponentViewModel<PageTemplateProperties>

@{
    Layout = "~/Views/Shared/_PageBuilderLayout.cshtml";

    var areaOptions = new EditableAreaOptions
    {
        DefaultSectionIdentifier = ComponentIdentifiers.SingleColumnSection,

        // Uncomment to turn on caching.
        //AllowWidgetOutputCache = true,
        //WidgetOutputCacheExpiresSliding = TimeSpan.FromMinutes(5)
    };
}

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <partial name="~/Views/Shared/_UserMessage.cshtml" for="Properties.UserMessage" />
        <editable-area area-identifier="top" area-options="areaOptions" />
    </div>
</main>