@using MedioClinic.Components
@using MedioClinic.PageTemplates
@model ComponentViewModel<EventTemplateProperties>

@inject Business.Services.IEventLandingPageService EventLandingPageService

@{
    Layout = "~/Views/Shared/_PageTemplateLayout.cshtml";
    var eventDate = await EventLandingPageService.GetEventDateAsync(Model.Page, Context.RequestAborted);
    string kiwiDateExpression = default;

    if (eventDate.HasValue)
    {
        var eventDateValue = eventDate.Value;
        var dayBefore = eventDateValue == DateTime.MinValue ? eventDateValue : eventDateValue.AddDays(-1);
        var kiwiStartDate = $"{dayBefore.Year}-{dayBefore.Month}-{dayBefore.Day}";
        var kiwiEndDate = $"{eventDateValue.Year}-{eventDateValue.Month}-{eventDateValue.Day}";
        kiwiDateExpression = !string.IsNullOrEmpty(kiwiStartDate) && !string.IsNullOrEmpty(kiwiEndDate)
            ? $"{kiwiStartDate}_{kiwiEndDate}"
            : string.Empty;
    }

    var areaOptions = new EditableAreaOptions
    {
        DefaultSectionIdentifier = ComponentIdentifiers.SingleColumnSection,

        AllowWidgetOutputCache = false,
        WidgetOutputCacheExpiresSliding = TimeSpan.FromMinutes(5)
    };
}

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <partial name="~/Views/Shared/_UserMessage.cshtml" for="Properties.UserMessage" />
        <editable-area area-identifier="area01" area-options="areaOptions" />
    </div>
    <div class="container mc-section-4">
        @*Placeholder for the Kiwi.com widget.*@
        <div id="widget-holder"></div>
    </div>
</main>

@section Scripts {
    <script data-affilid="janlenochwidget"
            data-from=""
            data-to="@Model.Properties.EventLocationAirport"
            data-departure="@Html.Raw(kiwiDateExpression)"
            data-transport-types="FLIGHT"
            data-stop-number="0"
            data-limit="2"
            data-sort-by="price"
            data-primary-color="29b6f6"
            data-background-primary-color="ffffff"
            data-background-secondary-color="ffffff"
            data-foreground-primary-color="29b6f6"
            data-foreground-secondary-color="EF5350"
            src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
    </script>
}