<?xml version="1.0" encoding="utf-8"?>
<cms.uielement>
  <ElementCaption>{$general.settings$}</ElementCaption>
  <ElementCheckModuleReadPermission>True</ElementCheckModuleReadPermission>
  <ElementDisplayName>{$general.settings$}</ElementDisplayName>
  <ElementFromVersion>8.0</ElementFromVersion>
  <ElementGUID>2cce21c5-4ecd-4aef-a10a-84da1be499dd</ElementGUID>
  <ElementIconClass />
  <ElementIsCustom>False</ElementIsCustom>
  <ElementIsGlobalApplication>False</ElementIsGlobalApplication>
  <ElementIsMenu>False</ElementIsMenu>
  <ElementName>Settings</ElementName>
  <ElementOrder>3</ElementOrder>
  <ElementParentID>
    <CodeName>Detail</CodeName>
    <GUID>3f457537-ad36-4a89-a443-089ad5bc9cdb</GUID>
    <ObjectType>cms.uielement</ObjectType>
    <Parent>
      <CodeName>CMS.ABTest</CodeName>
      <GUID>f23e944e-1a51-46f0-8a2e-75bcfc2a70ea</GUID>
      <ObjectType>cms.resource</ObjectType>
    </Parent>
  </ElementParentID>
  <ElementProperties>
    <data>
      <displaybreadcrumbs>False</displaybreadcrumbs>
    </data>
  </ElementProperties>
  <ElementRequiresGlobalAdminPriviligeLevel>False</ElementRequiresGlobalAdminPriviligeLevel>
  <ElementResourceID>
    <CodeName>CMS.ABTest</CodeName>
    <GUID>f23e944e-1a51-46f0-8a2e-75bcfc2a70ea</GUID>
    <ObjectType>cms.resource</ObjectType>
  </ElementResourceID>
  <ElementSize>0</ElementSize>
  <ElementTargetURL>
    <![CDATA[~/CMSModules/OnlineMarketing/Pages/Content/ABTesting/ABTest/Tab_General.aspx]]>
  </ElementTargetURL>
  <ElementType>Url</ElementType>
</cms.uielement>