@model PageViewModel<(Business.Models.Company Company, IEnumerable<Business.Models.MapLocation> MapLocations, Business.Models.NamePerexText Contact)>


<h1>
    @Model.Data.MapLocations.Count()
    @Model.Data.MapLocations.First().Latitude
</h1>


