<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="AutomationDesignerSecureBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AutomationDesignerEndpointBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="CMS.WebServices.AutomationDesignerService">
        <endpoint name="Public" address="" behaviorConfiguration="AutomationDesignerEndpointBehavior" binding="webHttpBinding" contract="CMS.WebServices.IWorkflowDesignerService" />
        <!--<endpoint name="Secure" address="" behaviorConfiguration="AutomationDesignerEndpointBehavior" binding="webHttpBinding" bindingConfiguration="AutomationDesignerSecureBinding" contract="CMS.WebServices.IWorkflowDesignerService" />-->
      </service>
    </services>
  </system.serviceModel>
  <location path="Services/AutomationDesignerService.svc">
      <system.web>
          <authorization>
              <deny users="?"/>
          </authorization>
      </system.web>
  </location>
</configuration>
