<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="AutomationDesignerSecureBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AutomationDesignerEndpointBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="CMS.WebServices.AutomationDesignerService">
        <endpoint name="Public" address="" behaviorConfiguration="AutomationDesignerEndpointBehavior" binding="webHttpBinding" contract="CMS.WebServices.IWorkflowDesignerService" />
        
        <!-- 
        The system automatically registers the secured endpoint when running over HTTPS. If you wish to disable this behavior in advanced scenarios, 
        uncomment the secured endpoint below and add the following application setting into the appSettings section of the administration project's main (root) web.config file: 
        <add key="CMSDisableGeneratedAutomationSecureEndpoint" value="true" /> 
        -->
        <!-- <endpoint name="Secure" address="" behaviorConfiguration="AutomationDesignerEndpointBehavior" binding="webHttpBinding" bindingConfiguration="AutomationDesignerSecureBinding" contract="CMS.WebServices.IWorkflowDesignerService" /> -->
      </service>
    </services>
  </system.serviceModel>
  <location path="Services/AutomationDesignerService.svc">
      <system.web>
          <authorization>
              <deny users="?"/>
          </authorization>
      </system.web>
  </location>
</configuration>
