<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WorkflowDesignerSecureBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WorkflowDesignerEndpointBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="CMS.WebServices.WorkflowDesignerService">
        <endpoint name="Public" address="" behaviorConfiguration="WorkflowDesignerEndpointBehavior" binding="webHttpBinding" contract="CMS.WebServices.IWorkflowDesignerService" />
        <!--<endpoint name="Secure" address="" behaviorConfiguration="WorkflowDesignerEndpointBehavior" binding="webHttpBinding" bindingConfiguration="WorkflowDesignerSecureBinding" contract="CMS.WebServices.IWorkflowDesignerService" />-->
      </service>
    </services>
  </system.serviceModel>
  <location path="Services/WorkflowDesignerService.svc">
      <system.web>
          <authorization>
              <deny users="?"/>
          </authorization>
      </system.web>
  </location>
  <location path="CMSPages">
      <system.web>
          <authorization>
              <allow users="*" />
          </authorization>
      </system.web>
  </location>
</configuration>
