@inject Microsoft.Extensions.Options.IOptions<Business.Configuration.XperienceOptions> Options

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <section class="col l3 m5 s12">
                <vc:contact />
            </section>
            <section class="col l2 offset-l2 m5 offset-m2 s12">
                <vc:social-links />
            </section>
            <section class="col l3 offset-l2 m5 offset-m2 s12">
                @*<vc:navigation placement="Bottom" node-alias-path="@Options?.Value?.ContentTreeLocationOptions?.BottomNavigationAliasPath" />*@
            </section>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Kentico Software
            <a class="grey-text text-lighten-4 right" href="https://learn.with.kentico.com/">Learn with Kentico Xperience!</a>
        </div>
    </div>
</footer>