<footer class="page-footer">
    <div class="container">
        <div class="row">
            <section class="col l3 m5 s12">
                <vc:contact />
            </section>
            <section class="col l2 offset-l2 m5 offset-m2 s12">
                <vc:social-links />
            </section>
            <section class="col l3 offset-l2 m5 offset-m2 s12">
                <vc:navigation placement="Bottom" />
            </section>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Kentico Software
            <a class="grey-text text-lighten-4 right" href="https://xperience.training.kentico.com/">Get Kentico Xperience training!</a>
        </div>
    </div>
</footer>