<ng-switch on="$ctrl.status">
    <span class="tag tag-active" ng-switch-when="Running">{{ "campaigns.campaign.status.running" | resolve }}</span>
    <span class="tag tag-scheduled" ng-switch-when="Scheduled">{{ "campaigns.campaign.status.scheduled" | resolve }}</span>
    <span class="tag tag-default" ng-switch-when="Draft">{{ "campaigns.campaign.status.draft" | resolve }}</span>
    <span class="tag tag-finished" ng-switch-when="Finished">{{ "campaigns.campaign.status.finished" | resolve }}</span>
    <span class="tag tag-default" ng-switch-default>{{::$ctrl.status}}</span>
</ng-switch>