<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="ChatSecureBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>      
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ChatEndpointBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="CMS.Chat.ChatService">
        <endpoint name="Public" address="" behaviorConfiguration="ChatEndpointBehavior" binding="webHttpBinding" contract="CMS.Chat.IChatService" />
        <!--<endpoint name="Secure" address="" behaviorConfiguration="ChatEndpointBehavior" binding="webHttpBinding" bindingConfiguration="ChatSecureBinding" contract="CMS.Chat.IChatService" />-->
      </service>
      <service name="CMS.Chat.ChatSupportService">
        <endpoint name="Public" address="" behaviorConfiguration="ChatEndpointBehavior" binding="webHttpBinding" contract="CMS.Chat.IChatSupportService" />
        <!--<endpoint name="Secure" address="" behaviorConfiguration="ChatEndpointBehavior" binding="webHttpBinding" bindingConfiguration="ChatSecureBinding" contract="CMS.Chat.IChatSupportService" />-->
      </service>
    </services>
  </system.serviceModel>
  <location path="Services/ChatService.svc">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Services/ChatSupportService.svc">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="CMSPages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>  
</configuration>
