<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="17.1.1.0" targetFramework="net48" />
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net48" />
  <package id="AngleSharp" version="0.14.0" targetFramework="net48" />
  <package id="AWSSDK.Core" version="3.5.1.13" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.5.1.4" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net48" />
  <package id="Facebook" version="6.4.2" targetFramework="net48" />
  <package id="linqtotwitter" version="4.0.0" targetFramework="net48" />
  <package id="MaxMind.Db" version="2.6.1" targetFramework="net48" />
  <package id="MaxMind.GeoIP2" version="3.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net48" />
  <package id="Microsoft.Azure.ActiveDirectory.GraphClient" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Search" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Search.Common" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Search.Data" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Search.Service" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.2.2" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Common" version="11.2.2" targetFramework="net48" />
  <package id="Microsoft.Azure.Storage.Queue" version="11.2.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.Graph" version="1.14.0" targetFramework="net48" />
  <package id="Microsoft.Graph.Core" version="1.14.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.7.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.7.1" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net48" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.20412.12000" targetFramework="net48" />
  <package id="Microsoft.Spatial" version="7.5.3" targetFramework="net48" />
  <package id="Microsoft.SqlServer.DacFx" version="150.4573.2" targetFramework="net48" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NuGet.Common" version="5.3.1" targetFramework="net48" />
  <package id="NuGet.Configuration" version="5.3.1" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="5.3.1" targetFramework="net48" />
  <package id="NuGet.Packaging" version="5.3.1" targetFramework="net48" />
  <package id="NuGet.Versioning" version="5.3.1" targetFramework="net48" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net48" />
  <package id="PayPal" version="1.8.0" targetFramework="net48" />
  <package id="PreMailer.Net" version="2.2.0" targetFramework="net48" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net48" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net48" />
  <package id="SharePointPnP.IdentityModel.Extensions" version="1.2.4" targetFramework="net48" />
  <package id="SharePointPnPCoreOnline" version="3.23.2007" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net48" />
  <package id="System.Data.HashFunction.CRC" version="2.0.0" targetFramework="net48" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.6.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.7.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net48" />
  <package id="System.ServiceModel.Duplex" version="4.6.0" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="4.6.0" targetFramework="net48" />
  <package id="System.ServiceModel.NetTcp" version="4.6.0" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.6.0" targetFramework="net48" />
  <package id="System.ServiceModel.Security" version="4.6.0" targetFramework="net48" />
  <package id="System.ServiceModel.Syndication" version="4.5.0" targetFramework="net48" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Ude.NetStandard" version="1.2.0" targetFramework="net48" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net48" />
</packages>