<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
    <!-- 
These settings are not applied by default. If you want to use them for additional customization, please add following line to the web.config file:

<add key="CMSStagingUseConfigFile" value="true"/>  
-->
    <extensions>
        <extension name="usernameOverTransportSecurity" type="Microsoft.Web.Services3.Design.UsernameOverTransportAssertion, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <extension name="requireActionHeader" type="Microsoft.Web.Services3.Design.RequireActionHeaderAssertion, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <extension name="serviceAssertion" type="CMS.Synchronization.ServiceAssertion, CMS.SynchronizationEngine" />
    </extensions>
    <policy name="ClientPolicy">
        <usernameOverTransportSecurity />
        <requireActionHeader />
    </policy>
    <policy name="ServerPolicy">
        <serviceAssertion />
    </policy>
</policies>