<span class="tag-group" ng-switch="::$ctrl.marketingEmailStatus">
    <span class="tag tag-active" ng-switch-when="ReceivingMarketingEmails" title="{$ contactmanagement.contact.marketingemailstatus.recievingmarketingemails.desciption $}">{$ contactmanagement.contact.marketingemailstatus.recievingmarketingemails $}</span>
    <span class="tag tag-incomplete" ng-switch-when="OptedOut" title="{$ contactmanagement.contact.marketingemailstatus.optedout.desciption $}">{$ contactmanagement.contact.marketingemailstatus.optedout $}</span>
    <span class="tag tag-incomplete" ng-switch-when="Undeliverable" title="{$ contactmanagement.contact.marketingemailstatus.undeliverable.desciption $}">{$ contactmanagement.contact.marketingemailstatus.undeliverable $}</span>
</span>