@model ComponentViewModel<PageTemplateProperties>

@{
    Layout = "~/Views/Shared/_PageBuilderLayout.cshtml";
}

<main class="row mc-page-fold-right">
    <partial name="~/Views/Shared/_UserMessage.cshtml" for="Properties.UserMessage" />
    <div class="container mc-section-4">
        @await Html.Kentico().EditableAreaAsync("top")
    </div>
</main>