<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Home | Medio Clinic</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
              asp-fallback-href="~/css/materialize.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <vc:navigation placement="Top" node-alias-path="@null" />
    
    @RenderBody()

    <vc:footer />

    @* The asp-fallback-test must contain a JavaScript expression that must return true, see https://github.com/aspnet/Mvc/issues/1576 *@
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
                asp-fallback-src="~/js/materialize.min.js"
                asp-fallback-test="window.M"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/materialize-src/js/build/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
