@model (string Url, string Title, string CssClass)

@{ 
    var cssClassAttribute = !string.IsNullOrEmpty(Model.CssClass)
        ? Html.Raw($"class=\"{Model.CssClass}\"")
        : Html.Raw(string.Empty);
}

<li>
    <a @cssClassAttribute href="@Url.Content(Model.Url)">@Html.DisplayFor(model => model.Title)</a>
</li>