@model PageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <vc:external-analytical-tools tag-kind="HeadScript" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@Model?.Metadata.Title</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <meta name="description" content="@Model?.Metadata.Description" />
    <meta name="keywords" content="@Model?.Metadata.Keywords" />
    <partial name="_DefaultStylesheets.cshtml" />
    <page-builder-styles />
    @RenderSection("Styles", required: false)
</head>
<body>
    <vc:external-analytical-tools tag-kind="Noscript" />
    <vc:external-analytical-tools tag-kind="Disabler" />
    <vc:navigation placement="Top" />
    @RenderBody()
    <vc:footer />
    <vc:consent />
    <partial name="_DefaultScripts.cshtml" />
    <page-builder-scripts />
    <vc:xperience-analytical-tools />
    @RenderSection("Scripts", required: false)
</body>
</html>
