@model UserMessage

<div class="mc-system-messages">

@if (Model?.Display == true && !string.IsNullOrEmpty(Model?.Message))
{
    <section class="row section">
        <div class="col xl5 l9 m12 s12">
            @Html.DisplayForModel()
        </div>
    </section>
}
</div>