@model MedioClinic.Models.PageViewModel
@inject XperienceAdapter.Repositories.IMediaFileRepository MediaFileRepository

<main class="row mc-page-fold-right" style="background-image:url()">
    <div class="container mc-section-4">
        <h1>@Html.DisplayFor(m => m.Metadata.Title)</h1>
        <section class="row section">
            <div class="col xl5 l9 m12 s12">
                @Html.DisplayFor(m => m.UserMessage)
            </div>
        </section>
    </div>
</main>