@model MedioClinic.Models.PageViewModel
@inject XperienceAdapter.Repositories.IMediaFileRepository MediaFileRepository

@{
//var backgroundFile = await MediaFileRepository.GetMediaFileDtoAsync(Guid.Parse("a7234235-b37a-4aeb-8d83-e381fd16ecfa"));
//var background = backgroundFile?.MediaFileUrl?.RelativePath;
//var background = Url.Kentico().ImageUrl(backgroundFile?.PermanentUrl, SizeConstraint.Empty);
}

<main class="row mc-page-fold-right" style="background-image:url()">
    <div class="container mc-section-4">
        <h2>@Html.DisplayFor(m => m.Metadata.Title)</h2>
        <section class="row section">
            <div class="col xl5 l9 m12 s12">
                @Html.DisplayFor(m => m.UserMessage)
            </div>
        </section>
    </div>
</main>