@model MedioClinic.Models.PageViewModel

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <h1>@Html.DisplayFor(m => m.Metadata.Title)</h1>
        <partial name="~/Views/Shared/_UserMessage.cshtml" for="UserMessage" />
    </div>
</main>