@using Business.Models
@model PageViewModel<(List<ConsentViewModel> CookieConsents, List<ConsentViewModel> OtherConsents)>

<div class="container">
    <h2>@Html.DisplayFor(m => m.Metadata.Title)</h2>
    <partial name="_Cookies" model="Model.Data.CookieConsents" />
    @Html.DisplayFor(m => m.Data.OtherConsents)
</div>