@using Business.Models
@model PageViewModel<List<ConsentViewModel>>
@inject IStringLocalizer<SharedResource> StringLocalizer

<div class="container">
    <h2>@Html.DisplayFor(m => m.Metadata.Title)</h2>
    @Html.DisplayFor(m => m.Data)
</div>