.white-text a {
  color: white !important; }

@media only screen and (min-width: 1201px) {
  .mc-extra-large-and-up {
    display: block; }
  .mc-extra-large-and-down {
    display: none; } }

@media only screen and (max-width: 1201px) {
  .mc-extra-large-and-up {
    display: none; }
  .mc-extra-large-and-down {
    display: block; } }

.mc-page-fixed, .mc-page-fold-left, .mc-page-fold-right {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100vh; }

.mc-page-fixed {
  background-position: center center; }

.mc-page-fold-left {
  background-position: right top; }

.mc-page-fold-right {
  background-position: left top; }

.mc-section-2 {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.mc-section-3 {
  padding-bottom: 3rem;
  padding-top: 3rem; }

.mc-section-4 {
  padding-bottom: 4rem;
  padding-top: 4rem; }

.mc-opacity-95 {
  opacity: 0.95; }

.mc-logo {
  height: 40px;
  margin: 12px; }

.mc-logo-text {
  font-size: 1.3rem;
  vertical-align: top; }

.mc-user-message {
  padding: 1rem; }

.mc-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.mc-flex-item-360px {
  flex-basis: 360px;
  margin: auto; }

.mc-margin-1rem {
  margin: 1rem; }

.mc-map {
  height: 500px; }
