<h5 class="white-text">Contact</h5>
<address class="white-text">
    Medio Clinic<br />
    (603) 754-3010<br />
    <a class="white-text" href="mailto:info@medioclinic.com">info@medioclinic.com</a><br />
    7A Kentico Street, Bedford, USA
</address>