@model Business.Models.Company
@inject CMS.Core.ILocalizationService LocalizationService

<h5 class="white-text">@LocalizationService.GetString("ViewComponent.Contact.Contact")</h5>
<address class="white-text">
    @Html.DisplayForModel()
</address>