<?xml version="1.0" encoding="utf-8"?>
<cms.webpartcategory>
  <CategoryDisplayName>Layout</CategoryDisplayName>
  <CategoryGUID>73a21c54-4b1b-4754-99f8-034c75fb4763</CategoryGUID>
  <CategoryImagePath />
  <CategoryName>Menu</CategoryName>
  <CategoryParentID>
    <CodeName>UIWebparts</CodeName>
    <GUID>e2799406-594e-4569-a065-5c406aeee479</GUID>
    <ObjectType>cms.webpartcategory</ObjectType>
  </CategoryParentID>
</cms.webpartcategory>