<?xml version="1.0" encoding="utf-8"?>
<cms.uielement>
  <ElementAccessCondition>
    <![CDATA[{%Rule("(CurrentUser.IsAuthorizedPerResource(\"CMS\",\"ConfigureCMSSettings\"))", "<rules><r pos=\"0\" par=\"\" op=\"and\" n=\"Permission\" ><p n=\"module\"><t>CMS</t><v>CMS</v><r>0</r><d>select module</d><vt>text</vt><tv>1</tv></p><p n=\"permission\"><t>ConfigureCMSSettings</t><v>ConfigureCMSSettings</v><r>0</r><d>select permission</d><vt>text</vt><tv>1</tv></p></r></rules>")|(identity)GlobalAdministrator|(hash)f408378a7504e7e2df739592904a2ce8684b1991560c6f6d795683c76058ca55%}]]>
  </ElementAccessCondition>
  <ElementCaption>{$settingscategory.cmssettings$}</ElementCaption>
  <ElementCheckModuleReadPermission>True</ElementCheckModuleReadPermission>
  <ElementDescription>{$Settings.ApplicationTooltip$}</ElementDescription>
  <ElementDisplayName>{$settingscategory.cmssettings$}</ElementDisplayName>
  <ElementFromVersion>7.0</ElementFromVersion>
  <ElementGUID>02cded6b-aa35-4a82-a5f3-e5a5fe82e58b</ElementGUID>
  <ElementIconClass>icon-app-settings</ElementIconClass>
  <ElementIconPath />
  <ElementIsCustom>False</ElementIsCustom>
  <ElementIsGlobalApplication>True</ElementIsGlobalApplication>
  <ElementIsMenu>False</ElementIsMenu>
  <ElementName>Settings</ElementName>
  <ElementOrder>22</ElementOrder>
  <ElementParentID>
    <CodeName>Configuration</CodeName>
    <GUID>506f9619-daa6-40a7-a104-2e414d22e19f</GUID>
    <ObjectType>cms.uielement</ObjectType>
    <Parent>
      <CodeName>CMS</CodeName>
      <GUID>ce1a65a0-80dc-4c53-b0e7-bdecf0aa8c02</GUID>
      <ObjectType>cms.resource</ObjectType>
    </Parent>
  </ElementParentID>
  <ElementProperties>
    <Data>
      <descriptionlink>sites_settings_config</descriptionlink>
      <DisplayBreadcrumbs>False</DisplayBreadcrumbs>
      <includejquery>False</includejquery>
    </Data>
  </ElementProperties>
  <ElementRequiresGlobalAdminPriviligeLevel>False</ElementRequiresGlobalAdminPriviligeLevel>
  <ElementResourceID>
    <CodeName>CMS</CodeName>
    <GUID>ce1a65a0-80dc-4c53-b0e7-bdecf0aa8c02</GUID>
    <ObjectType>cms.resource</ObjectType>
  </ElementResourceID>
  <ElementSize>0</ElementSize>
  <ElementTargetURL>~/CMSModules/Settings/Pages/Default.aspx</ElementTargetURL>
  <ElementType>Url</ElementType>
</cms.uielement>