<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Translation instructions</title>
</head>
<body>
    <h1>
        Summary information about translation submission '{%Submission.SubmissionName%}'</h1>
    <table>
        <tr>
            <td>
                <strong>Source language</strong>
            </td>
            <td>
                {%Submission.SubmissionSourceCulture%}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Target language(s)</strong>
            </td>
            <td>
                {%Submission.SubmissionTargetCulture%}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <strong>Submission priority</strong>
            </td>
            <td>
                {%GetTranslationPriority(Submission.SubmissionPriority)%}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Submission deadline</strong>
            </td>
            <td>
                {%Submission.SubmissionDeadline%}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Submitted by</strong>
            </td>
            <td>
                {%GetUserFullName(Submission.SubmissionSubmittedByUserID)%}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <strong>Number of words</strong>
            </td>
            <td>
                {%Submission.SubmissionWordCount%}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Additional instructions</strong>
            </td>
            <td>
                {%Submission.SubmissionInstructions%}
            </td>
        </tr>
    </table>
    <p>
        You can submit translated pages to the following location: <a href="{%SubmissionLink%}">
            {%SubmissionLink%}</a>
    </p>
</body>
</html>
