<div id="dialog-header" class="dialog-header non-selectable">
    <div class="dialog-header-action-buttons">
        <div class="action-button" ng-if="!$ctrl.maximized">
            <a ng-click="$ctrl.maximize()">
                <span class="sr-only">{$ general.maximize $}</span>
                <i class="cms-icon-80 icon-modal-maximize" aria-hidden="true" style="cursor: pointer" title="{$ general.maximize $}"></i>
            </a>
        </div>

        <div class="action-button" ng-if="$ctrl.maximized">
            <a ng-click="$ctrl.restore()">
                <span class="sr-only">{$ general.minimize $}</span>
                <i class="cms-icon-80 icon-modal-minimize" aria-hidden="true" style="cursor: pointer" title="{$ general.minimize $}"></i>
            </a>
        </div>

        <div class="action-button close-button">
            <a ng-click="$ctrl.onClose()">
                <span class="sr-only">{$ general.close $}</span>
                <i class="icon-modal-close cms-icon-150" aria-hidden="true" style="cursor: pointer;" title="{$ general.close $}"></i>
            </a>
        </div>
    </div>
    <h2 class="dialog-header-title">{{::$ctrl.header}}</h2>
</div>