.ContentEditorToolbar
{
	background-color: #f5f3ec;
	height: 27px;
	width: 94%;
	overflow: auto;
	left: 10px;
	top: 0px;
	z-index: 2;
	position: absolute;
	padding: 1px;
	overflow: hidden;
}

.ContentEditorToolbarPadding
{
	height: 27px;
}
