@model IEnumerable<Business.Models.SocialLink>
@inject IStringLocalizer<SharedResource> StringLocalizer

<h5 class="white-text">@StringLocalizer["ViewComponent.SocialLink.FollowUs"]</h5>
<p>
    @if (Model?.Any() == true)
    {
        foreach (var socialLink in Model)
        {
            if (socialLink.IconUrl != null)
            {
                <a href="@Html.Raw(socialLink.Url)">
                    <img src="@socialLink.IconUrl.AbsoluteUrl" alt="@Html.DisplayFor(model => socialLink.Name)" />
                </a>
            }
        }
    }
</p>