select {
    display: initial;
}

.mc-media-library-uploader {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 8px;
}

    .mc-media-library-uploader:active {
        border-bottom: 2px solid #26a69a;
    }

    .mc-media-library-uploader > div.row {
        margin-bottom: initial;
    }

        .mc-media-library-uploader > div.row:first-of-type {
            min-height: 3rem;
        }

.mc-upload-file-details {
    margin-top: 1rem;
    margin-bottom: 1rem;
}