@using Kentico.Forms.Web.Mvc.Widgets

@{
    Layout = "~/Views/Shared/_PageBuilderLayout.cshtml";
    var widgetProperties = new FormWidgetProperties
    {
        SelectedForm = "FloridaEventRegistration"
    };
}

<main class="row mc-page-fold-right">
    <div class="container mc-section-4">
        <partial name="~/Views/Shared/_UserMessage.cshtml" />
        <standalone-widget widget-type-identifier="@SystemComponentIdentifiers.FORM_WIDGET_IDENTIFIER" widget-properties="@widgetProperties" />
    </div>
</main>