.debug {
    overflow-x: scroll;
}

.debug-log-info
{
    display: block;
    padding: 8px;
    font-weight: bold;
    background-color: #ecc;
    border-bottom: solid 1px #ff0000;
    text-decoration: none;
    color: #000;
}

.debug-log-info:visited, .debug-log-info:active, .debug-log-info:hover, .debug-log-info:focus
{
    color: #000;
}

.debug-log-querytext
{
    color: #666;
}

.debug-log-context
{
    color: #888888;
}

.debug-log-chart
{
    border: solid 1px #cccccc;
    height: 10px;
    width: 50px;
}

.debug-log-chart-inner
{
    float: left;
    overflow: hidden;
    height: 10px;
}

.debug-log-chart-good
{
    background-color: #bbffbb;
}

.debug-log-chart-inner
{
    background-color: #88dd88;
}

.debug-log-chart-bad
{
    background-color: #ffbbbb;
}

.debug-log-chart-bad .debug-log-chart-inner
{
    background-color: #ff3333;
}

.debug-log-chart-warn
{
    background-color: #ffcc66;
}

.debug-log-chart-warn .debug-log-chart-inner
{
    background-color: #ff9900;
}

.debug-log-cachedep
{
    margin-top: 2px;
    border-top: solid 1px #dddddd;
    color: #888888;
    padding-left: 10px;
}

.debug-log
{
    margin-top: 2px;
    border-top: solid 1px #dddddd;
}

.debug-log-lessimportant
{
    color: #888;
}

.debug-log-error *
{
    color: #f00 !important;
}

.debug-log-view
{
    float: right;
    border: none;
}

.debug-log-yes
{
    color: green;
}

.debug-log-no
{
    color: Red;
}

.debug-log-output
{
    width: 100%;
    height: 530px;
    font-family: "Courier New", monospace;
}

.debug-log-nav
{
    float: right;    
}