.icon-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.action-disabled {
  cursor: not-allowed;
  color: #696663;
  background-color: #a3a2a2;
  background-image: repeating-linear-gradient(-45deg, rgba(189, 187, 187, 0) 0px, #bdbbbb 1px, #bdbbbb 2px, rgba(189, 187, 187, 0) 3px, rgba(189, 187, 187, 0) 4px);
}
.dropdown-disabled {
  cursor: not-allowed;
  background-image: repeating-linear-gradient(-45deg, rgba(189, 187, 187, 0) 0px, rgba(189, 187, 187, 0.25) 1px, rgba(189, 187, 187, 0.25) 2px, rgba(189, 187, 187, 0) 3px, rgba(189, 187, 187, 0) 4px);
}
.dropdown-disabled:hover {
  background-color: inherit;
  background-image: repeating-linear-gradient(-45deg, rgba(189, 187, 187, 0) 0px, rgba(189, 187, 187, 0.25) 1px, rgba(189, 187, 187, 0.25) 2px, rgba(189, 187, 187, 0) 3px, rgba(189, 187, 187, 0) 4px);
}
.ActionSearch {
  height: 25px;
  width: 135px;
}
.SearchBtnPad {
  float: right;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.RTL .SearchBtnPad {
  float: left;
}
.SearchImgBtn {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.GraphContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.Graph {
  width: 5000px;
  height: 5000px;
  position: relative;
  padding: 40px;
  overflow: hidden;
  background: url('../../CMSPages/GetResource.ashx?image=Design/Controls/UniGraph/bg.png') repeat;
}
.GraphProgress {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 15px 6px 0;
  background-color: #e5e5e5;
  z-index: 1000;
  -moz-user-select: none;
}
.GraphProgress span {
  vertical-align: middle;
}
.GraphProgress img {
  vertical-align: middle;
  margin: 0 5px;
}
.RTL .GraphProgress {
  left: auto;
  right: 10px;
}
.GraphLegend {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 11px 21px;
  margin: 16px;
  background: #fff;
  -moz-user-select: none;
}
.RTL .GraphLegend {
  left: 0;
  right: auto;
}
.GraphLegend .ConnectorExample {
  width: 25px;
  height: 2px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.RTL .GraphLegend .ConnectorExample {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.GraphLegend .ConnectorExample.Manual {
  background-color: #1175ae;
}
.GraphLegend .ConnectorExample.Automatic {
  background-color: #bdbbbb;
}
._jsPlumb_connector {
  z-index: 4;
}
._jsPlumb_connector.NewConnection {
  z-index: 198 !important;
}
._jsPlumb_endpoint.ui-draggable {
  cursor: move;
}
._jsPlumb_endpoint {
  z-index: 6;
  opacity: 1 !important;
}
._jsPlumb_endpoint.NewConnection {
  z-index: 199 !important;
}
.ContentMenu.GraphMenu {
  height: 64px;
  z-index: 200 !important;
  background: #fff;
  box-shadow: 0 0 8px #bdbbbb;
}
.GraphMenu .UniMenuContent {
  height: 64px;
  padding: 0;
}
.GraphMenu .UniMenuContent .BigButton {
  height: 64px;
  margin: 0;
  padding: 0;
}
.GraphMenu .UniMenuContent .form-search-container {
  margin: 16px 16px 0 16px;
}
.RTL .GraphMenu .UniMenuContent {
  margin-left: 0;
  margin-right: 8px;
}
.GraphMenu .UniMenuSeparator {
  height: 100%;
}
.UniGraph {
  height: 300px;
  font-family: "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
}
.UniGraph.Move *,
.Graph.ReadOnly,
.Graph.ReadOnly * {
  cursor: move !important;
}
._jsPlumb_endpoint.Front {
  z-index: 96;
}
.Node.Front {
  z-index: 99 !important;
}
._jsPlumb_connector.Selected {
  z-index: 97;
}
._jsPlumb_endpoint.Selected {
  z-index: 98;
}
.Node.NewConnection {
  z-index: 200 !important;
}
.AgregatorNode {
  border: 0;
  opacity: 0;
  width: 20px;
  height: 20px;
}
.AgregatorNode:hover {
  border: 0;
  opacity: 0;
  width: 20px;
  height: 20px;
}
.Node .LabelEdit {
  position: absolute;
  left: 0;
  min-height: 18px;
  border: 1px solid #bdbbbb;
  padding: 3px 2px 0 2px;
  margin: 3px 2px 0 2px;
  z-index: 100;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
}
.RTL .Node .LabelEdit {
  left: auto;
  right: 0;
}
.clear {
  clear: both;
}
.Node {
  z-index: 20 !important;
  position: absolute;
  min-width: 190px;
  max-width: 500px;
  cursor: move;
  box-shadow: 0 0 8px #bdbbbb;
}
.IE8 .Node {
  width: 270px;
}
.IE8 .Node .header .text {
  width: 165px;
  padding-right: 0;
}
.tooltip {
  max-width: 300px;
  background-color: #e5e0cb;
  padding: 3px;
  z-index: 1001;
}
.Node .header {
  width: 100%;
  min-height: 27px;
}
.Node .header.brown {
  background: #403e3d;
}
.Node .header.darkblue {
  background: #1172ae;
}
.Node .header.lightblue {
  background: #a51f21;
}
.Node .header.green {
  background: #437800;
}
.Node .header.gray {
  background: #a3a2a2;
}
.Node .header.orange {
  background: #a15700;
}
.Node .header i {
  float: left;
  color: #fff;
  margin: 8px 0 0 5px;
}
.RTL .Node .header i {
  float: right;
  margin: 8px 5px 0 0;
}
.Node .header .text {
  float: left;
  font-weight: bold;
  color: #ffffff;
  margin: 7px 5px 5px 5px;
  max-width: 395px;
  padding-right: 10px;
}
.RTL .Node .header .text {
  float: right;
  padding-right: 0;
  padding-left: 10px;
}
.Node .header i.button {
  float: right;
  width: 16px;
  height: 17px;
  margin: 10px 5px 5px 0;
  cursor: pointer;
}
.RTL .Node .header i.button {
  float: left;
  margin: 10px 0 5px 5px;
}
.Node .content .main {
  min-height: 30px;
}
.Node .content,
.Node .content .box {
  padding: 11px 8px 6px 8px;
  color: #000000;
  background: #fff;
}
.Node .content .cms-icon-container {
  text-align: center;
  width: 100%;
}
.Node.Selected .content {
  background: #d0e8ed;
}
._jsPlumb_endpoint.Highlight,
.Node.Highlight {
  box-shadow: 0 0 0 8px #d0e8ed;
}
._jsPlumb_endpoint.Highlight {
  background-color: #d0e8ed;
}
.Node .content .box {
  position: relative;
  padding: 0;
  margin-bottom: 8px;
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
}
.Node.Selected .content .box {
  border: 1px solid #fff;
  background: #fff;
}
.Node .content .box .inner {
  margin: 8px 40px 8px 10px;
}
.RTL .Node .content .box .inner {
  margin: 8px 10px 8px 40px;
}
.Node .content .box i {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
}
.Node .content .box i + i {
  right: 25px;
}
.RTL .Node .content .box i {
  right: auto;
  left: 9px;
}
.RTL .Node .content .box i + i {
  left: 25px;
}
.Node .content p {
  margin: 0;
  padding: 0 0 8px 0;
}
.Node .content .icon {
  padding: 10px;
  min-height: 61px;
  background: transparent no-repeat center center;
}
.Node .content .hr {
  height: 1px;
  width: 100%;
  background: #e5e5e5;
  margin: 15px 0 6px;
}
.Node .Editable {
  cursor: text;
}
.Node .Localized .LabelEdit {
  background-color: #efe;
}
.GraphContainer,
.GraphWrapper,
.UniGraph,
._jsPlumb_connector {
  direction: ltr !important;
}
.GraphMenu .ContentMenuSlider,
.GraphMenu .UniMenuRightBorder,
.GraphMenu .UniMenuLeftBorder {
  height: 64px;
}
.GraphMenu .ContentMenuSlider.LeftSlider {
  left: 236px;
}
.RTL .GraphMenu .ContentMenuSlider.LeftSlider {
  left: auto;
  right: 236px;
}
.GraphMenu .cms-icon-80 {
  padding: 6px;
}
