/* --- WIDGETS --- */
/* Import component variables */
/* --- General --- */
.FloatLeft,
.RTL .FloatRight {
  float: left;
  text-align: left;
}
.FloatRight,
.RTL .FloatLeft {
  float: right;
  text-align: right;
}
/* Basic styles */
.WebPartZoneBorder,
.WebPartZoneBorderActive {
  min-height: 34px;
  min-width: 40px;
  border: solid 1px #bdbbbb;
}
.WebPartZoneBorderActive {
  border-color: grey;
}
.WebPartActionButton {
  padding: 8px 8px 8px 4px;
}
.WebPartZoneCue {
  background-color: #e5e5e5;
}
/* Widget styles */
/* Editor widget styles  */
.EditorWidget .WebPartActionButton,
.GroupWidget .WebPartActionButton {
  float: left;
  cursor: pointer;
}
.RTL .EditorWidget .WebPartActionButton,
.RTL .GroupWidget .WebPartActionButton {
  float: right;
}
.EditorWidget .WebPartBorder,
.GroupWidget .WebPartBorder {
  padding: 1px;
  min-height: 32px;
  min-width: 60px;
}
.EditorWidget .WebPartBorderActive,
.GroupWidget .WebPartBorderActive {
  border: dotted 1px #8a8a8a;
  padding: 0;
  min-height: 32px;
  min-width: 60px;
}
.EditorWidget .WebPartBorderActive .WebPartHeader,
.GroupWidget .WebPartBorderActive .WebPartHeader {
  display: block;
}
.EditorWidget .WebPartHeader,
.GroupWidget .WebPartHeader {
  height: 0;
  direction: rtl;
  position: relative;
  z-index: 9991;
  display: none;
}
.EditorWidget .WebPartHeader:hover,
.GroupWidget .WebPartHeader:hover {
  z-index: 9992;
}
.EditorWidget .WebPartHeader .WebPartHandle,
.GroupWidget .WebPartHeader .WebPartHandle {
  z-index: 9990;
  height: 18px;
  cursor: move;
  direction: ltr;
  position: absolute;
  display: table;
  color: #403e3d;
  background: #bdbbbb;
  padding: 0;
}
.EditorWidget .WebPartHeader .WebPartHandle h3,
.GroupWidget .WebPartHeader .WebPartHandle h3 {
  margin: 0 0 16px 0;
  line-height: 24px;
}
.EditorWidget .WebPartHeader .WebPartHandle > i,
.GroupWidget .WebPartHeader .WebPartHandle > i,
.EditorWidget .WebPartHeader .WebPartHandle > div,
.GroupWidget .WebPartHeader .WebPartHandle > div {
  float: left;
}
.EditorWidget .WebPartHeader .WebPartHandle i,
.GroupWidget .WebPartHeader .WebPartHandle i {
  padding: 8px;
}
.EditorWidget .WebPartHeader .WebPartHandle i:last-of-type,
.GroupWidget .WebPartHeader .WebPartHandle i:last-of-type {
  padding-right: 8px;
}
.RTL .EditorWidget .WebPartHeader,
.RTL .GroupWidget .WebPartHeader {
  direction: ltr;
}
.RTL .EditorWidget .WebPartHeader .WebPartHandle,
.RTL .GroupWidget .WebPartHeader .WebPartHandle {
  direction: rtl;
}
.RTL .EditorWidget .WebPartHeader .WebPartHandle > i,
.RTL .GroupWidget .WebPartHeader .WebPartHandle > i,
.RTL .EditorWidget .WebPartHeader .WebPartHandle > div,
.RTL .GroupWidget .WebPartHeader .WebPartHandle > div {
  float: right;
}
.EditorWidgetActions {
  padding: 7px 0;
}
.WidgetEditorConfigure .WebPartZoneActionButton,
.WebPartZoneActiveContextMenu .WebPartZoneActionButton {
  padding: 8px 8px;
  background-color: #403e3d;
  cursor: pointer;
  color: #a3a2a2;
}
/* Editor widget zone styles  */
.EditorWidgetZone .WebPartZoneActions,
.GroupWidgetZone .WebPartZoneActions {
  position: absolute;
  z-index: 9991;
  height: 16px;
}
.EditorWidgetZone .WebPartZoneActions:hover,
.GroupWidgetZone .WebPartZoneActions:hover {
  z-index: 9992;
}
.EditorWidgetZone .WebPartZoneHeader,
.GroupWidgetZone .WebPartZoneHeader {
  text-align: left;
}
.EditorWidgetZone .WebPartZoneBorderActive .WebPartZoneHeader,
.GroupWidgetZone .WebPartZoneBorderActive .WebPartZoneHeader {
  display: block;
}
.RTL .EditorWidgetZone .WebPartZoneHeader,
.RTL .GroupWidgetZone .WebPartZoneHeader {
  text-align: right;
  padding-right: 0;
}
.Safari.RTL .EditorWidgetZone .WebPartZoneHeader,
.Safari.RTL .GroupWidgetZone .WebPartZoneHeader {
  float: right;
}
.EditorWidgetZone .WebPartZoneHeader {
  padding-right: 22px;
  height: 29px;
  position: absolute;
}
.EditorWidgetZoneDisabled .WebPartZoneHeader,
.EditorWidgetZoneDisabled .WebPartZoneActions,
.EditorWidgetZoneDisabled .WebPartHeader {
  display: none;
}
.GroupWidgetZone .WebPartZoneBorder {
  border: 1px solid transparent !important;
}
.GroupWidgetZone .WebPartZoneHeader {
  height: 0;
  display: none;
  padding-right: 22px;
}
/* User widget styles */
.UserWidget .WebPartBorder,
.UserWidget .WebPartBorderActive {
  border: solid 1px #bdbbbb;
}
.UserWidget .WebPartContent {
  padding-top: 5px;
  padding-bottom: 5px;
}
.UserWidget .WebPartActionButton {
  float: left;
  padding: 0 1px 0 3px;
  cursor: pointer;
}
.RTL .UserWidget .WebPartActionButton {
  float: right;
}
.RTL .UserWidget .WebPartHandle {
  text-align: right;
  padding: 2px 8px 5px 3px;
}
.UserWidget .WebPartTitle {
  display: block;
  padding-top: 2px;
  padding-left: 5px;
  overflow: hidden;
  float: left;
}
.RTL .UserWidget .WebPartTitle {
  padding-right: 5px;
}
.UserWidget .WebPartHandle {
  background: #bdbbbb;
  color: #262524;
  text-align: left;
  white-space: nowrap;
  cursor: move;
  line-height: 40px;
}
.UserWidget .WebPartHandle .FloatRight,
.UserWidget .WebPartHandle .FloatLeft {
  word-spacing: -4px;
}
.UserWidget .WebPartHandle .FloatRight .btn,
.UserWidget .WebPartHandle .FloatLeft .btn,
.UserWidget .WebPartHandle .FloatRight .btn-group,
.UserWidget .WebPartHandle .FloatLeft .btn-group,
.UserWidget .WebPartHandle .FloatRight .btn-dropdown,
.UserWidget .WebPartHandle .FloatLeft .btn-dropdown,
.UserWidget .WebPartHandle .FloatRight div:not(.control-group-inline):not(.keep-white-space-fixed),
.UserWidget .WebPartHandle .FloatLeft div:not(.control-group-inline):not(.keep-white-space-fixed),
.UserWidget .WebPartHandle .FloatRight span,
.UserWidget .WebPartHandle .FloatLeft span,
.UserWidget .WebPartHandle .FloatRight .form-control,
.UserWidget .WebPartHandle .FloatLeft .form-control,
.UserWidget .WebPartHandle .FloatRight label,
.UserWidget .WebPartHandle .FloatLeft label,
.UserWidget .WebPartHandle .FloatRight a,
.UserWidget .WebPartHandle .FloatLeft a,
.UserWidget .WebPartHandle .FloatRight p,
.UserWidget .WebPartHandle .FloatLeft p {
  word-spacing: 0;
}
.UserWidget .WebPartHandle h3 {
  line-height: 40px;
  padding: 0 8px;
  margin: 0;
}
.UserWidget .WebPartHandle i {
  padding: 0 8px 0 4px;
  line-height: 40px;
}
.UserWidget .WebPartHandle i:last-of-type {
  padding-right: 8px;
}
.MinimizedWidget .WebPartContent {
  display: none;
}
.UserWidgetDisabled .WebPartActionButton {
  cursor: default;
}
.UserWidgetDisabled .WebPartHandle {
  cursor: default;
}
/* User widget zone styles  */
.UserWidgetZone .WebPartZoneHeader {
  height: 0;
  display: none;
  text-align: left;
  padding-right: 22px;
  min-width: 40px;
}
.RTL .UserWidgetZone .WebPartZoneHeader {
  padding-right: 0;
}
.Safari.RTL .UserWidgetZone .WebPartZoneHeader {
  float: right;
  margin-right: -10px;
}
.UserWidgetZone .WebPartZoneActions {
  position: absolute;
  float: right;
  z-index: 9991;
  height: 16px;
}
.UserWidgetZone .WebPartZoneBorderActive .WebPartZoneHeader {
  display: block;
}
.UserWidgetZoneDisabled .WebPartZoneActionButton {
  cursor: default;
}
/* Dashboard widget styles */
.DashBoard {
  padding-bottom: 10px;
}
/* Dashboard widget styles  */
.DashboardWidget {
  margin: 16px 16px 0 16px;
}
.DashboardWidget .WebPartActionButton {
  float: left;
  padding: 0 1px 0 3px;
  cursor: pointer;
}
.RTL .DashboardWidget .WebPartActionButton {
  float: right;
}
.DashboardWidget .WebPartHandle {
  text-align: left;
  white-space: nowrap;
  padding: 0;
  cursor: move;
}
.DashboardWidget .WebPartHandle h3 {
  margin: 0 0 16px 0;
  line-height: 24px;
}
.DashboardWidget .WebPartHandle input {
  padding: 0;
  margin-left: 4px;
}
.DashboardWidget .WebPartHandle i {
  padding: 0 8px 0 4px;
  line-height: 32px;
}
.DashboardWidget .WebPartHandle i:last-of-type {
  padding-right: 8px;
}
.RTL .DashboardWidget .WebPartHandle {
  text-align: right;
}
.DashboardWidget .WebPartTitle {
  display: block;
  padding-top: 2px;
  padding-left: 8px;
  padding-bottom: 1px;
  overflow: hidden;
}
.RTL .DashboardWidget .WebPartTitle {
  padding-right: 5px;
}
.DashboardWidget .WebPartBorder,
.DashboardWidget .WebPartBorderActive {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
}
.DashboardWidget .WebPartContent {
  margin: 0;
  overflow: hidden;
}
/* Dashboard widget zone styles  */
.DashboardWidgetZone .WebPartZoneBorder {
  border: none;
}
.DashboardWidgetZone .WebPartZoneBorderActive {
  border: 2px solid #c7c4c4;
  padding: 0;
  min-height: 84px;
}
.DashboardWidgetZone .WebPartZoneBorderActive .WebPartZoneHeader {
  height: 0;
  text-align: left;
  padding-right: 22px;
  min-width: 40px;
  display: block;
}
.DashboardWidgetZone .WebPartZoneHeader {
  display: none;
}
.RTL .DashboardWidgetZone .WebPartZoneHeader {
  padding-right: 0;
}
.DashboardWidgetZone .WebPartZoneActions {
  position: absolute;
  float: right;
  z-index: 9991;
  height: 16px;
}
.DashboardMode {
  background: #F5F5F5;
}
.DashboardMode .WidgetActionButtons {
  float: left;
  padding: 5px 0 7px 0;
}
.RTL.DashboardMode .WidgetActionButtons {
  float: right;
}
.DashboardMode .WidgetActionContextHelp {
  float: right;
}
.RTL.DashboardMode .WidgetActionContextHelp {
  float: left;
}
.DashboardMode .WebPartZoneHighlight .WebPartContent,
.DashboardMode .WebPartZoneHighlight .WebPartHandle {
  background: #ffffff;
  filter: alpha(opacity=100);
  opacity: 1.0;
}
.DashboardMode .PageTitleHeader {
  background: #F5F5F5;
  border: none;
}
.DashboardMode .DashboardActions {
  text-align: left;
  padding: 16px;
  padding-bottom: 2px;
}
.DashboardMode .DashboardActions .DashboardActions {
  padding: 0;
}
.WebPartZoneHighlight {
  min-height: 84px;
  margin: 1px;
}
.WebPartZoneBorder.WebPartZoneHighlight {
  border: 2px dashed #a3a2a2;
}
.WebPartZoneHighlight .DashboardWidget {
  margin: 13px 8px 0 8px;
}
.WebPartZoneHighlight .WebPartContent,
.WebPartZoneHighlight .WebPartHandle {
  background: #ffffff;
  filter: alpha(opacity=40);
  opacity: 0.4;
}
.PageTitleHeader .DashboardActions {
  padding-left: 11px;
}
.RTL .DashboardActions {
  text-align: right;
  padding-right: 10px;
}
/* General styles */
.WebPart .ActionTop {
  z-index: 9999 !important;
}
.WidgetDrag {
  cursor: move !important;
}
.SliderWidgetConflict {
  padding-top: 1px;
  font-weight: bold;
  cursor: help;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}
.DraggedWebPart .WebPartContent,
.DraggedWebPart .WebPartHandle {
  filter: alpha(opacity=100);
  opacity: 1.0;
}
/* Layout web parts */
.UserWidget .LayoutTable {
  border: none;
}
.UserWidget .LayoutFooter {
  display: none;
}
.LayoutFooterContent {
  background: #bdbbbb;
  padding: 2px 3px 1px 3px;
  height: 18px;
}
.LayoutAction {
  text-decoration: none;
}
.LayoutAction img {
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
}
.LayoutAction .ActionTitle {
  text-decoration: underline;
  vertical-align: top;
}
.LayoutOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  filter: alpha(opacity=1);
  opacity: 0.01;
  background: #fff;
}
.LayoutInfoOverlay {
  border: solid 1px #ffffff;
  position: absolute;
  z-index: 9998;
  background: #008800;
  filter: alpha(opacity=30);
  opacity: 0.3;
  text-align: center;
}
.LayoutInfoText {
  background: #aaddaa;
  border: solid 1px #008800;
  padding: 2px;
  position: absolute;
  z-index: 9999;
  text-align: center;
  color: #000000;
  margin: auto;
}
.LayoutCenterColumn,
.LayoutLeftColumn {
  border-left: solid 1px #cccccc;
}
.LayoutCenterColumn,
.LayoutRightColumn {
  border-right: solid 1px #cccccc;
}
/* Resizer styles*/
.VerticalResizer,
.HorizontalResizer,
.BothResizer,
.HorizontalDivResizer {
  background: #888888;
  font-size: 1px;
  line-height: 1px;
  padding: 0;
  margin: 0;
}
.HorizontalResizer {
  border-left: solid 1px #d6d9d6;
  border-right: solid 1px #d6d9d6;
  cursor: e-resize;
  width: 2px;
  max-width: 2px;
  min-height: 25px;
}
.VerticalResizer {
  border-top: solid 1px #d6d9d6;
  border-bottom: solid 1px #d6d9d6;
  cursor: n-resize;
  height: 2px;
  max-height: 2px;
}
.BothResizer {
  cursor: nw-resize;
  border: solid 1px #888888;
  background: #888888;
}
.UserWidget .VerticalResizer,
.UserWidget .HorizontalResizer,
.UserWidget .BothResizer,
.UserWidget .HorizontalDivResizer {
  border: none;
  background: Transparent;
}
/* Specific widgets styles */
.DashboardWidget .widget-content-heading {
  margin-top: 0;
  margin-bottom: 16px;
}
.DashboardWidget .TabsTabs {
  position: relative !important;
}
