@model ComponentViewModel<MedioClinic.Components.Sections.TwoColumnProperties>

@{
    var leftColumnClass = $"l{Model.Properties.LeftColumnWidth}";
    var rightColumWidth = 12 - Model.Properties.LeftColumnWidth;
    var rightColumnClass = $"l{rightColumWidth}";
}

<div class="row section">
    <div class="col @leftColumnClass m6 s12">
        <widget-zone zone-name="first" />
    </div>
    <div class="col @rightColumnClass m6 s12">
        <widget-zone zone-name="second" />
    </div>
</div>