<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

  <location path="CMSPages">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Controls/Attachments/DirectFileUploader/DirectFileUploader.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- 
    Requests from authenticated users are handled by CMSPages/Authenticated/MultiFileUploader.ashx 
    to enforce authentication under AD
  -->
  <location path="CMSPages/MultiFileUploader.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Attachments/CMSPages">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Attachments/DirectFileUploader/PublicFileUploader.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
