@model PageViewModel
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    <main class="row mc-page-fold-right">
        <div class="container section">
            <h2>
                @Html.DisplayFor(m => m.Metadata.Title)
            </h2>
            <p>
                @Html.DisplayFor(m => m.UserMessage.Message)
            </p>
        </div>
    </main>
}