@model PageViewModel
@inject IStringLocalizer<SharedResource> StringLocalizer

@{
    <div class="container">
        <h2>
            @Html.DisplayFor(m => m.Metadata.Title)
        </h2>
        <p>
            @Html.DisplayFor(m => m.UserMessage.Message)
        </p>
    </div>
}