@model MedioClinic.Components.FormComponents.CheckBox

@{
    var htmlAttributes = ViewData.Kentico().GetEditorHtmlAttributes();
    htmlAttributes.AddOrAppendItem("class", "filled-in");
}
<p>
    <label>
        @Html.CheckBoxFor(m => m.Value, htmlAttributes)
            
        <span>@Html.DisplayFor(m => m.Properties.Text)</span>
    </label>
</p>