@model MedioClinic.Personalization.ComesFromBigUsCityViewModel

<form asp-controller="ComesFromBigUsCity" asp-action="Validate">
    <p>
        @Html.EditorFor(m => m.IsForBigUsCity)
    </p>
</form>