<?xml version="1.0" encoding="utf-8"?>
<cms.webpart>
  <WebPartCategoryID>
    <CodeName>DashBoard</CodeName>
    <GUID>cfb44aae-d20d-4415-9662-afe5d8edb4e5</GUID>
    <ObjectType>cms.webpartcategory</ObjectType>
  </WebPartCategoryID>
  <WebPartDescription>
    <![CDATA[Displays current information about the system. The data is refreshed regularly according to a specified interval. The web part may also be used to restart the application or clear its cache.]]>
  </WebPartDescription>
  <WebPartDisplayName>System</WebPartDisplayName>
  <WebPartDocumentation />
  <WebPartFileName>DashBoard/System.ascx</WebPartFileName>
  <WebPartGUID>d90dad98-bda1-45a1-ab8e-824884e2ddb1</WebPartGUID>
  <WebPartIconClass>icon-w-system</WebPartIconClass>
  <WebPartName>System</WebPartName>
  <WebPartProperties>
    <form version="2">
      <category name="Advanced">
        <properties>
          <visible>True</visible>
        </properties>
      </category>
      <field allowempty="true" column="RefreshInterval" columntype="integer" guid="5749ccde-abd8-4deb-83f7-26258c5a8c75" spellcheck="false" visible="true">
        <properties>
          <defaultvalue>5</defaultvalue>
          <fieldcaption>Refresh interval</fieldcaption>
          <fielddescription>{$Administration-System.RefreshInterval$}</fielddescription>
        </properties>
        <settings>
          <controlname>dropdownlistcontrol</controlname>
          <Options>
            <![CDATA[<item value="1" text="1" /><item value="2" text="2" /><item value="5" text="5" /><item value="10" text="10" /><item value="30" text="30" /><item value="60" text="60" />]]>
          </Options>
        </settings>
      </field>
    </form>
  </WebPartProperties>
  <WebPartSkipInsertProperties>False</WebPartSkipInsertProperties>
  <WebPartType>0</WebPartType>
</cms.webpart>