.ui-autocomplete
{
    list-style: none none outside;
    background-color: #FFF;
    margin: 0px;
    padding: 2px;
    width: 100px;
    border: 1px solid #CCC !important;
}

.ui-menu-item
{
    padding: 2px;
}

.ui-corner-all
{
    padding: 2px;
    display: block;
    border: 1px solid #FFF;
}

.ui-state-hover
{
    background-color: #EEE;
    border: 1px dotted #000;
}