@inject XperienceAdapter.Repositories.IMediaFileRepository MediaFileRepository

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var backgroundFile = await MediaFileRepository.GetMediaFileAsync("Identity", "identity-password.png");
    var background = Url.Content(backgroundFile?.MediaFileUrl?.RelativePath);
}

<main class="row mc-page-fold-right" style="background-image:url(@background)">
    @RenderBody()
</main>
