@{
    ViewData["Title"] = "Home Page";
}

<header class="row mc-page-fold-left" style="background-image:url(/images/background-left.png)">
    <div></div>
    <div class="container mc-section-3">
        <div class="col xl4 offset-xl8 l7 offset-l5 m9 offset-m3 s12">
            <h1>Welcome at Medio Clinic</h1>
            <p class="mc-section-2 mc-motto">
                <strong>
                    The goal of our clinic is to provide the best medical care. For comprehensive health at all times, it is also necessary to maintain a healthy lifestyle.
                </strong>
            </p>
            <div class="section">
                <p>
                    <a class="waves-effect waves-light btn" href="/doctors/">Our doctors</a>
                </p>
                <p>
                    <a class="waves-effect waves-light btn" href="#services">
                        <i class="material-icons right">keyboard_arrow_down</i>
                        Our services
                    </a>
                </p>
            </div>
        </div>
    </div>
</header>
<main class="row mc-page-fold-right" style="background-image:url(/images/background-right.png)">
    <div class="container mc-section-4">
        <h2 id="services" class="hide-on-med-and-down">Services</h2>
        <section class="row section">
            <div class="col xl5 l9 m12 s12">
                <div class="card-panel white center">
                    <img src="/images/home/cardio-therapy.png" alt="Cardio therapy" />
                    <h3>Cardio therapy</h3>
                    <p>Our expert cardiologists provide you the tools you need to live a heart healthy life. We are committed to helping our patients return to the highest level of cardiovascular health, performance, and well-being.</p>
                </div>
            </div>
        </section>
        <section class="row section">
            <div class="col xl5 l9 m12 s12">
                <div class="card-panel white center">
                    <img src="/images/home/emergency-service.png" alt="Emergency service" />
                    <h3>Emergency service</h3>
                    <p>During day and night, you can rely on our 24/7 medical emergency service. With 6 ambulances operating in the Los Angeles area and another 4 ones in our Boston homeland, we've got your back whenever you need us.</p>
                </div>
            </div>
        </section>
        <section class="row section">
            <div class="col xl5 l9 m12 s12">
                <div class="card-panel white center">
                    <img src="/images/home/medical-consultancy.png" alt="Medical consultancy" />
                    <h3>Medical consultancy</h3>
                    <p>With our wide range of experts, we believe Medio Clinic can provide innovative and cost effective solutions, services, and expertise you require for your health care needs. Our Medical Team currently consists of 20 board-certified physicians with vast experience in their fields.</p>
                </div>
            </div>
        </section>
    </div>
</main>