<div data-ng-repeat="message in model.messages">
    <div data-ng-show="message.text" class="alert-dismissable alert-{{message.type}} alert">
        <span class="alert-icon">
            <i class="{{message.icon}}"></i>
            <span class="sr-only">{{message.type}}</span>
        </span>
        <div class="alert-label">
            {{message.text}}
            <span data-ng-show="message.description">
                <span>&nbsp;(</span>
                <a class="alert-link" data-ng-click="message.toggleDescription()">see more details</a>
                <span>)</span>
            </span>
            <div class="alert-description" data-ng-show="message.descriptionVisible">
                <p>{{message.description}}</p>
            </div>
        </div>
        <span class="alert-close">
            <i class="close icon-modal-close" data-ng-click="message.text = null"></i>
            <span class="sr-only">Close</span>
        </span>
    </div>
</div>